body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

section {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    resize: both;
    overflow: auto;
    width: 80%;
}

h2 {
    margin: 0;
}

.logo {
    /* max-width: 10%;
    height: auto;
    margin-bottom: 10px; */
    width:auto!important;
    height:250px;
    margin-right:.5rem;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

/* Media queries for mobile view */
@media (max-width <= 480px) {
    main {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center; 
    }
}

/* Media queries for mobile view */
@media (max-width > 480px) {
    main {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center; 
    }
}

.image-container {
    display: flex;
}

.image-container img {
    margin-right: 10px; /* Optional - adds some space between images */
    width: 18%;
}

.multiline {
    display: block;
    white-space: nowrap;
    width: 16%;
    text-align: justify;
}

.container {
    display: flex;
}

.header-container {
   background-color: #f2f2f2; /* set the background color for the entire header */
   display: flex;
   justify-content: space-between;
}

.left-section,
.right-section {
   width: 30%; /* calculate the width of left and right sections based on center logo width */
   padding: 20px;
   text-align: center;
}

.center-section {
   display: block;
   align-items: center;
}
