main {
  display: flex; 
  flex-wrap: wrap; 
  justify-content:center; 
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
h1 {
  margin: 0;
}
section {
  border: 0.1px solid rgb(100, 100, 100);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  resize: both;
  overflow: auto;
  width: 80%;
  background-color: rgba(255,255,255,0.1);
}
.logo {
  width:auto!important;
  height:250px;
  margin-right:.5rem;
}
h2 {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.contact-info {
  text-align: center;
  margin-top: 20px;
  background-color: rgba(255,255,255,0.45);
}

.image-container {
  display: flex;
}

.multiline-cene,
.multiline-opis {
  background-color: rgba(255,255,255,0.45);
}

.napomene {
  width: 100%;
  text-align: left;
  padding: 20px;
  background-color: rgba(255,255,255,0.45);
}

/* Media queries for computer view */
@media (min-width: 481px) {
  body {
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .image-container img {
    margin-right: 10px; /* Optional - adds some space between images */
    width: 18%;
  }

  .multiline {
    display: block;
    white-space: nowrap;
    width: 16%;
    text-align: justify;
  }

  .multiline_mobile {
    display: none;
  }

  .container {
    display: flex;
  }

  .header-container-mobile {
    background-color: rgba(255,255,255,0);
    display: block;
    justify-content: space-between;
  }

  .right-section {
    padding: 20px;
    text-align: center;
  }
  .left-section {
    padding: 10px;
    text-align: center;
    background-color: rgba(255,255,255,1);
  }
  .center-section {
    display: block;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .image {
      cursor: pointer;
  }

    
  .image img:hover {
    transform: scale(1.1);
  }

  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
  }
    
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .modal img {
    width: 50%;
    object-fit: cover;
  }
    
  .closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-transform: none;
  }
    
  .closeBtn:hover {
    color: rgb(255, 255, 255);
  }
}

/* Media queries for mobile view */
@media (max-width: 480px) {
  body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Lucida Handwriting", "Times", cursive;
    margin: 0;
    padding: 0;
  }
  .left-section-1 {
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
  }
  .left-section-2 {
    padding: 2px;
    text-align: left;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.3);
  }
  .image-container img {
    margin-right: 10px; /* Optional - adds some space between images */
    width: 30%;
  }

  .image-section {
    padding: 28px;
  }
  .multiline {
    display: none;
  }

  .multiline_mobile {
    display: block;
    white-space: nowrap;
    width: 85%;
    text-align: justify;
    background-color: rgba(255,255,255,0.1);
  }

  .container {
    display: grid;
    width: 100%;
  }

  .header-container-mobile {
    background-color: rgba(255,255,255,0);
    display: block;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
  }

  .center-section {
    display: block;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .image {
      cursor: pointer;
  }

    
  .image img:hover {
    transform: scale(1.1);
  }

  .modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
  }
    
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .modal img {
    width: 50%;
    object-fit: cover;
  }
    
  .closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-transform: none;
  }
    
  .closeBtn:hover {
    color: rgb(255, 255, 255);
  }
}